﻿@section Head
{
    <link rel="stylesheet" type="text/css" href="~/css/not-found.css" asp-append-version="true">
}

<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!
            </h1>
            <h2>
                404 - puslapis nerastas
            </h2>
            <div class="error-details">
                Ieškomas resursas neegzistuoja.
            </div>
            <div class="error-actions">
                <a asp-controller="Document" asp-action="Documents" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>
                    Pradžia
                </a>
            </div>
        </div>
    </div>
</div>
