﻿#document-table_wrapper {
    margin-top: 1em;
}

.btn {
    margin: 0.5em;
}

#notification-area {
    z-index: 9000;
    position: fixed;
    top: 60px;
    right: 12px;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#notification-area .notification {
    position: relative;
    padding: 15px 10px;
    background: #111;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px 0px;
    opacity: 0;
    left: 20px;
    animation: showNotification 500ms ease-in-out forwards;
}

@keyframes showNotification {
    to {
        opacity: 1;
        left: 0px;
    }
}

#notification-area .notification.success {
    background: #389838;
}

#notification-area .notification.error {
    background: orangered;
}

#notification-area .notification.info {
    background: #00acee;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 15px;
    width: 3px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
