﻿@*@model Wireframe.Web.Models.DocumentViewModel;*@
@model IEnumerable<Wireframe.Persistence.Document>;

@{
    ViewData["Title"] = "Dokumentai";
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Dokumentas</th>
            <th>Schema</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var doc in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Document" asp-action="Read" asp-route-regid="@doc.Id">
                        @doc.Name
                    </a>
                </td>
                <td style="width: 50%;">
                    @doc.Scheme.Name
                </td>
            </tr>
        }
    </tbody>
</table>