﻿@model Wireframe.Persistence.FullDocument;

@{
    ViewData["Title"] = "Pradžia";
}

@section Head
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/document.css" asp-append-version="true">
}

<form method="post">
    <table id="document-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Registracijos požymiai</th>
                <th scope="col">Reikšmė</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AttributeValueOptions.Count; i++)
            {
                <tr>
                    <td scope="row" style="vertical-align: middle;">
                        <input asp-for="AttributeValueOptions[i].Attribute.Id" hidden />
                        @Model.AttributeValueOptions[i].Attribute.Name
                    </td>
                    <td>
                        <select asp-for="AttributeValueOptions[i].CurrentValue.Id" asp-items="@(new SelectList(Model.AttributeValueOptions[i].ValueOptions, "Id", "Name"))" class="toggleable form-control" disabled>
                            <option value="0"></option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <button id="toggle-button" class="toggleable btn btn-outline-secondary" type="button" asp-is-disabled="!Model.AttributeValueOptions.Any()">Koreguoti požymius</button>
        <button class="toggleable btn btn-outline-secondary" type="submit" disabled>Saugoti pataisymus</button>
        <button class="toggleable btn btn-outline-secondary" type="reset" disabled>Atšaukti pataisymus</button>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/document.js" asp-append-version="true"></script>
    <script type="text/javascript">
        @TempData["Notification"]
    </script>
}